<!DOCTYPE html>
<html>
  <head>
    <title>Java House</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body id="bootstrap-overide">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Java House</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
     
          <div class="flex-justify-round">
            <button class="btn btn-outline-success" type="submit"><a href="/signup">Sign Up</a></button>
            <button class="btn btn-outline-success" type="submit"><a href= "/login">Login</a></button>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="jumbotron text-center">
       <div class="sizes"> 
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item list"><button id="Short" class="btn btn-outline-primary btn-lg size">Short</button></li>
          <li class="list-group-item list"><button id="Tall" class="btn btn-outline-primary btn-lg size">Tall</button></li>
          <li class="list-group-item list"><button id="Grande" class="btn btn-outline-primary btn-lg size">Grande</button></li>
          <li class="list-group-item list"><button id="Venti" class="btn btn-outline-primary btn-lg size">Venti</button></li>
        </ul>
        
       </div>
       <div class="sizes"> 
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item list"><button id="Iced-Coffee" class="btn btn-outline-primary btn-lg coffee">Iced Coffee</button></li>
          <li class="list-group-item list"><button id="tall" class="btn btn-outline-primary btn-lg coffee">Hot Coffee</button></li>
          <li class="list-group-item list"><button id="grande" class="btn btn-outline-primary btn-lg coffee">Iced Latte</button></li>
          <li class="list-group-item list"><button id="venti" class="btn btn-outline-primary btn-lg size coffee">Hot Latte</button></li>
        </ul>
        
       </div>

       <div class="sizes"> 
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item list"><button id="short" class="btn btn-outline-primary btn-lg diary">Whole Milk</button></li>
          <li class="list-group-item list"><button id="tall" class="btn btn-outline-primary btn-lg diary">Skim Milk</button></li>
          <li class="list-group-item list"><button id="grande" class="btn btn-outline-primary btn-lg diary">Almond Milk</button></li>
          <li class="list-group-item list"><button id="venti" class="btn btn-outline-primary btn-lg diary">Oat Milk</button></li>
        </ul>
        
       </div>

       <div class="sizes"> 
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item list"><button id="short" class="btn btn-outline-primary btn-lg flavor">Caramel</button></li>
          <li class="list-group-item list"><button id="tall" class="btn btn-outline-primary btn-lg flavor">Vanilla</button></li>
          <li class="list-group-item list"><button id="grande" class="btn btn-outline-primary btn-lg flavor">Mocha</button></li>
          <li class="list-group-item list"><button id="venti" class="btn btn-outline-primary btn-lg flavor">Pumpkin</button></li>
        </ul>
        
        
       </div>
       
     <div class="jumbotron text-center">
      <form>
      <label>Name:</label>
        <input class="input" type="text">
        <button id="submit">Place Order</button>
        </form>
      </div>
      </div>

      
      

      
           <!-- <form action="/javahouse" method="post">
          <label>Name</label>
          <input type="text" name="name" />
          <label>Order</label>
          <input type="text" name="order" />
          <button type="submit">Submit</button>
        </form>  -->




    </div>
    <script src="main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>

