<!DOCTYPE html>
<html>
  <head>
    <title>Java House</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
      </style>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body id="bootstrap-overide">
    <div class="container">
      <h2  class="text-center text-light pt-4 title">JavaHouse
        <span>
        <a href="/signup">
         <button type="button" class="btn btn-outline-info signup">Apply!</button>
         </a>
         <a href="/login">
        <button type="button" class="btn btn-outline-info login">Login</button>
        </a>
        </span>
      </h2>
      
      <div class="row">
        <!-- left side order list -->
        <div class="col-md-4 p-4" data-order-lists>
          <div class="card mb-3">
            <div class="card-body pt-3 pr-3">
              <div class="text-right">
              </div>
              <h6 class="card-title mb-1 drinkName"></h6>
              <div class="card-text ice"></div>
              <div class="card-text sugar"></div>
            </div>
            <div class="card-footer text-right py-2">
               <div class="card-text text-muted">$ <span id="price" data-drink-price></span></div> 
            </div>
          </div>
    
          <div class="text-right">
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text orderName" id="inputGroup-sizing-sm">Name</span>
              </div>
              <input id="name" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <button class="btn btn-outline-primary submitOrder" style="min-width:120px;" data-alpha-pos="checkout">Checkout</button>
          </div>
        </div>
        <!-- /left side order list-->
    
        <!-- right side menu -->
        <div class="col-md-8 p-4" data-order-panel>
          <section class="menu mb-4">
            <div class="card-deck mb-3">
              <div class="card text-center">
                <label class="card-body px-2">
                    <h5 class="card-title">Taro Tea</h5>
                    <input type="radio" name="drink" value="Taro Tea">
                  </label>
              </div>
    
              <div class="card text-center">
                <label class="card-body px-2">
                    <h5 class="card-title">Green Tea</h5>
                    <input type="radio" name="drink" value="Green Tea">
                  </label>
              </div>
    
              <div class="card text-center">
                <label class="card-body px-2">
                    <h5 class="card-title">Coffee Tea</h5>
                    <input type="radio" name="drink" value="Coffee Tea">
                  </label>
              </div>
    
              <div class="card text-center">
                <label class="card-body px-2">
                    <h5 class="card-title">Honey Milk Tea</h5>
                    <input type="radio" name="drink" value="Honey Milk Tea">
                  </label>
              </div>
            </div>
    
            <div class="card-deck">
              <div class="card text-center">
                <label class="card-body px-2">
                    <h5 class="card-title">Oolong Tea</h5>
                    <input type="radio" name="drink" value="Oolong Tea">
                  </label>
              </div>
    
              <div class="card text-center">
                <label class="card-body px-2">
                    <h5 class="card-title">Coconut Milk Tea</h5>
                    <input type="radio" name="drink" value="Coconut Milk Tea">
                  </label>
              </div>
    
              <div class="card text-center">
                <label class="card-body px-2">
                    <h5 class="card-title">Almond Milk Tea</h5>
                    <input type="radio" name="drink" value="Almond Milk Tea">
                  </label>
              </div>
    
              <div class="card text-center">
                <label class="card-body px-2">
                    <h5 class="card-title">Winter Melon Tea</h5>
                    <input type="radio" name="drink" value="Winter Melon Tea">
                  </label>
              </div>
            </div>
          </section>
    
          <section class="ice mb-4">
            <label class="d-block text-light">Ice</label>
            <div class="btn-group btn-group-toggle" data-toggle="data-toggle">
              <label class="btn btn-outline-primary">
                  <input type="radio" name="ice" value="No Ice" />No
                </label>
              <label class="btn btn-outline-primary">
                  <input type="radio" name="ice" value="Less Ice" />Less
                </label>
              <label class="btn btn-outline-primary">
                  <input type="radio" name="ice" value="Regular Ice" checked="checked" />Regular
                </label>
            </div>
            
          </section>
    
          <section class="sugar mb-5">
            <label class="d-block text-light">Sugar</label>
            <div class="btn-group btn-group-toggle" data-toggle="toggle">
              <label class="btn btn-outline-info">
                  <input type="radio" name="sugar" value="No Sugar" />No
                </label>
              <label class="btn btn-outline-info">
                  <input type="radio" name="sugar" value="A Little Sugar" />A Little
                </label>
              <label class="btn btn-outline-info">
                  <input type="radio" name="sugar" value="Half Sugar" />Half
                </label>
              <label class="btn btn-outline-info">
                  <input type="radio" name="sugar" value="Less Sugar" />Less
                </label>
              <label class="btn btn-outline-info">
                  <input type="radio" name="sugar" value="Regular Sugar" checked="checked" />Regular
                </label>
            </div>
          </section>
    
        </div>
        <!-- /right side menu -->
      </div>
      <!-- /.row -->
    </div>




    </div>

    <script src="main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>

